/* responsive*/
@media only screen and (min-width: 320px) and (max-width:480px) {
  /*Index*/
  body{
    overflow-x: hidden;
  }
  .main_container{
    width: 405px !important;
  }
  .show{
    margin-left: -40px;
  }
  .header_search_engine{
    display: none !important;
  }
  .bars{
    display: flex !important;
    align-items: center;
  }
  .header_user {
    gap: 20px;
    width: 165px !important;
  }
  .navbar{
    flex-direction: column;
    gap: 10px;
    display: none;
  }
  .dropdown{
    width: 100%;
  }
  .dropbtn{
    width: 100%;
    justify-content: center;
    margin: 0 !important;
  }
  .dropdowna{
    width: 100%;
    gap: 10px;
    margin-left: 0 !important;
  }
  .dropbtna{
    width: 100%;
  }
  .dropdown-content{
    width: 100%;
  }
  .dropdown-contenta{
    width: 100%;
  }
  .dropdown-mega-content{
    margin-left: 0px !important;
    width: 100% !important;
  }
  .megamenu_title{
    flex-wrap: wrap;
    width: 100% !important;
    justify-content: start !important;
    gap: 10px;
  }
  .megamenu_word{
    width: 180px !important;
  }
  .slider{
    width: 100% !important;
  }

  .card {
    width: 170px !important;
  }
  .swiper-slide{
    width: 100%;
  }
  .swiper{
    width: 100% !important;
  }
  .article{
    flex-wrap: wrap;
    gap: 10px;
  }
  .article-position{
    top: 0 !important;
    left: 20px !important;
  }
  .article_left{
    height: 200px;
  }
  .article_right{
    height: 200px !important;
  }
  .slider_text{
    top: 15px !important;
    left: 15px !important;
    font-size: 11px;
  }
  .slider_text h1{
    font-size: 35px !important;
    width: 200px !important;
  }
  .PopularProducts{
    flex-wrap: wrap !important;
  }
  .cardwiew_table{
    width: 185px !important;
  }
  .cardwiew_img{
    width: 100% !important;
    height: 150px !important;
  }
  .cardwiew_img img{
    width: 100% !important;
    height: 150px !important;
  }
  .DailyBestSells{
    gap: 10px;
  }
  .DailyBestSellsimg{
    width: 193px !important;
    height: 535px !important;
  }
  .DailyBestSellsimg img{
    max-width: 100%;  
  }
  .DailyBestSells_cartwiew{
    width: 160px !important;
  }
  .DailyBestSells_img{
    text-align: center;
    width: 100%;
  }
  .DailyBestSells_img img{
    text-align: center;
    width: 100%;
  }
  .DailyBestSells_date_group{
    flex-wrap: wrap;
  }
  .DailyBestSellsimg_text{
    font-size: 15px;
  }
  .hiddenn{
    left: 20% !important;
    top: 16% !important;
  }
  .whapper_Card{
    width: 165px !important;
  }
  .whapper{
    gap: 4px;
  }
  .footer_div{
    flex-wrap: wrap;
  }
  .footer_card{
    width: 160px !important;
  }
  .footer_card a{
    font-size: 20px !important;
  }
  .footer_Payment{
    flex-direction: column;
  }
  .Payment_Partners{
    width: 100%;
    height: 40px;
    margin-top: 10px;
  }
  .social_media{ 
    justify-content: space-between;
    width: 100%;
  }
  .hidden{
    top: 100px !important;
    left: 35px !important;
  }
  .slider-cart{
    width: 100%;
  }
  .dropdown-content a{
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  .dropdown-contenta a{
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  .card_menu{
    width: max-content;
    justify-content: start !important;
  }
  .sw1-main{
    width: 100%;
  }
  .cardwiew_text a{
    font-size: 15px;
  }
  .cardwiew_text h3{
    font-size: 12px;
  }
  .add{
    font-size: 12px;
  }

   /*Modal*/
  .modal-content{
    width: 100% !important;
    padding: 0 !important;
  }
  .modal-content-form{
    padding: 0 !important;
    width: 100% !important;
  }

  /*Modal*/
  .addressModal-content{
    width: 100% !important;
    padding: 0 !important;
  }
  .addressModal-content-tittle{
    width: 100%;
  }
  .addressModal-content-input-group{
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .addressModal-content-input-group-input{
    width: 80% !important;
  }
  .addressModal-content-input-group select{
    width: 85% !important;
  }
  .addressModal-content-tittle span{
    margin-left: 32px;
    margin-top: 20px;
  }
  .addressModal-content-input-group-button{
    margin-bottom: 20px;
  }
  .addressclose{
    margin: 0 !important;
    margin-right: 10px !important;
    margin-top: -40px !important;
  }
  
  /*Favorites*/
  .favorites-up-title{
    font-size: 30px !important;
  }
  .favorites-card-img{
    width: 100% !important;
    height: 175px !important;
  }
  .favorites-card-img img{
    width: 100%;
    height: 100% !important;
  }
  .favorites-card{
    width: 160px !important;
    gap: 5px !important;
  }
  .favorites-card-title{
    text-align: center;
  }

  /*SignIn*/
  .signin{
    flex-wrap: wrap;
  }
  .signin-right{
    width: 100% !important;
  }
  .signin-left{
    width: 100% !important;
  }
  .signin-right-input{
    width: 100% !important;
  }
  .signin-right-icon-group{
    width: 100% !important;
  }
  .signin-right-input-group{
    width: 100% !important;
    padding: 0 !important;
  }
  .signin-right-checkbox {
    width: 100% !important;
  }
  .signin-button{
    width: 100% !important;
    padding: 0px !important;
    height: 35px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .signup{
    width: 100% !important;
  }

  /*Contact*/
  .contanct-main{
    flex-wrap: wrap;
    gap: 10px;
  }
  .map{
    width: 100% !important;
  }
  .account{
    width: 100% !important;
  }
  .account-mid-right{
    width: 100% !important;
    padding: 0 !important;
  }
  .account-mid-input{
    width: 100% !important;
  }
  .account-mid-right-group-input{
    width: 175px !important;
  }
  .account-mid-right-group-input2{
    width: 399px !important;
  }
  .map{
    height: 450px !important;
  }

  /*About*/
  .about-main{
    display: flex;
    flex-wrap: wrap;
  }
  .about-up{
    flex-wrap: wrap;
    width: 100% !important;
    padding: 0 !important;
  }
  .about-up-left{
    width: 100% !important;
  }
  .about-up-right{
    width: 100% !important;
  }
  .about-up-right-img{
    width: 100% !important;
  }
  .app{
    flex-wrap: wrap;
    width: 100% !important;
  }
  .app img{
    width: 200px;
    margin-right: 0 !important;
  }
  .app_text{
    width: 100%;
    padding: 0 !important;
  }
  .about-mid{
    width: 100% !important;
    flex-wrap: wrap;
  }
  .about-mid-cart-group{
    flex-wrap: wrap;
    justify-content: center !important;
    gap: 10px 
  }
  .about-last-text {
    width: 100% !important;
  }
  .about-last-text h1{
    font-size: 25px;
  }
  .about-last-text-group{
    width: 100% !important;
    padding: 0 !important;
  }
  .about-last-text-group h1{
    font-size: 25px;
  }

  /*Checkout*/
  .checkout-mid{
    width: 100%;
    flex-direction: column;
  }
  .checkout-section{
    width: 100% !important;
    padding: 0 !important;
  }
  .checkout-main-section-category-address-grup{
    width: 130px !important;
  }
  .delivery-time-button{
    font-size: 10px !important;
  }
  .day-group{
    gap: 5px;
  }
  .day-group-choose {
    font-size: 10px !important;
  }
  .payment-credit-information{
    width: 100%;
  }
  .payment-credit-information-code{
    width: 80px !important;
    height: 84px !important;
    justify-content: space-between;
  }
  .payment-credit-information-date{
    width: 85px !important;
  }
  .payment-credit-information-name{
    width: 110px !important;
  }
  .checkout-main-section-category-button1-address{
    margin-top: 4px;
  }
  .checkout-details{
    width: 100% !important;
    padding: 0 !important;
    margin-top: 10px;
  }
  .day-group-paid, .day-group-free{
    font-size: 8px !important;
  }
  .delivery-time-bar {
    gap: 5px;
  }
  .payment-credit-information-date2{
    width: 85px !important;
    background-color: white;
  }

  /*Products*/
  .products-main-section{
    display: none !important;
  }
  .products-main-right{
    flex-wrap: wrap;
    width: 100% !important;
  }
  .products-main{
    width: 100% !important;
    padding: 0 !important;
  }
  .cardwiew_table2{
    width: 180px !important;
  }
  .products-main-right-filter{
    display: block !important;
    border: 1px solid grey;
    color: grey;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px !important;
  }
  .products-main-right-text h1{
    font-size: 20px;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden; 
    transition: 0.5s;
    padding-top: 60px; 
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: black;
  }
  .hnav{
    display: flex;
    flex-direction: column;
  }
  .checkout-main-section-category-button {
    font-size: 15px !important;
  }
  .products-main-section-category2{
    width: 100%;
    color: black;
  }
  .products-main-section-stores2{
    width: 100%;
    color: black;
  }
  .products-main-section-price2{
    width: 100%;
    color: black;
  }
  .products-main-section-img2{
    width: 100%;
    color: black;
    position: relative;
    margin-top: 20px;
  }
  .checkout-main-section-category-button-text{
    display: flex ;
    flex-direction: column;
    margin-left: 10px;
    gap: 15px;
    margin-bottom: 20px;
  }
  .checkout-main-section-category-button-text a:hover{ 
    color: green;
    cursor: pointer;
  }
  .sidenav::-webkit-scrollbar{
  width: 10px;
  }
  .sidenav::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  }
  .sidenav::-webkit-scrollbar-thumb{
  background: green;
  border-radius: 10px;
  }

  /*ShopCart*/
  .shop-div{
    flex-direction: column;   
  }
  .shopcart{
    width: 100% !important;
    height: 325px !important;
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
  .Proceed{
    width: 100% !important;
    padding: 0 !important;
    margin-top: 50px;
  }
  .shopcart_div{
    width: 100% !important;
    padding: 0 !important;
    gap: 10px !important;
  }
  .shopcart_div img{
    height: 70px !important;
  }
  .shopcart-trash{
    padding: 10px !important;
    border: none !important;
    font-size: 10px;
  }
  .shopcart_title{
    font-size: 15px !important;
    flex-direction: column;
    gap: 0 !important;
  }
  .input_group_1{
    height: 25px !important;
    width: 25px !important;
  }
  .input_group_2{
    height: 25px !important;
    width: 25px !important;
  }
  .input_group_3{
    height: 23px !important;
    width: 25px !important;
  }
  .shopcart-total-price{
    flex-direction: column;
  }
  .subtotal, .saving, .Total{
    padding: 0 !important;
  }

  /*Produts Detail*/
  .produts-detail-left{
    width: 100% !important;
    padding: 0 !important;
  }
  .produts-detail-left-slider{
    width: 100%;
  }
  .produts-detail-right{
    width: 100% !important;
  }
  .produts-detail-up{
    flex-direction: column;
    padding: 10px;
  }
  .swiper-slide-img img {
    width: 80px !important;
  }
  .products-detail-right-title2 {
    width: 200px !important;
  }
  .produts-detail-mid{
    width: 100% !important;
    padding: 0 !important;
  }
  .produts-detail-mid-label{
    padding: 15px !important;
    border: none !important;
  }
  .produts-detail-mid-label:hover{
    color: green;
  }
  .produts-detail-mid-panel-table{
    flex-direction: column;
  }
  .produts-detail-mid-panel-table-left-text{
    width: 100%;
    padding: 0 0 10px 0 !important;
    margin-top: 15px;
  }
  .produts-detail-mid-panel-table-left{
    width: 100% !important;
    padding: 0 !important;
  }
  .produts-detail-mid-panel-table-right{
    width: 100% !important;
    padding: 0 !important;
  }
  .reviews{
    flex-direction: column;
  }
  .reviews-left{
    width: 100% !important;
  }
  .reviews-right{
    width: 100% !important;
  }
  .produts-detail-mid-panel{
    padding: 0 !important;
  }
  .reviews-right-main{
    padding: 0 !important;
  }
  .reviews-right-main-comment {
    width: 100%;
  }
  .reviews-right-main-comment-text1{
    margin-top: 20px;
    width: 100%;  
  }
  .reviews-right-main-comment-text2{
    width: 100%;
    height: max-content;
  }
  .reviews-right-main-comment-star{
    width: 100% !important; 
  }
  .comment-text{
    height: max-content !important;
  }
  .stars-group-2 {
    width: 170px;
    align-items: center;
    display: flex;
  }
  .input-file{
    width: 99% !important;
  }
  .produts-detail-mid-panel-text {
    margin-bottom: 50px;
  }
  .reviews-left-main-stars-group{
    padding: 0 !important;
  }
}
